body {
  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  color: white;

  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: white;
  padding-bottom: 30px;
  padding-top: 30px;
}

h2 {
  color: white;
}

button {
  color: white;
  background-color: black;
  border-color: white;
  border-radius: 30px;
  font-size: 20px;
  padding: 10px 20px;
}

input {
  background-color: black;
  color: white;
  border-color: white;
  border-radius: 30px;
  padding: 10px;
  font-size: 15px;
}

.imeji {
  margin: auto;
  border: solid;
  border-color: black;
  border-radius: 30px;
}

p {
  padding: 30px;
  color: white;
  border: solid;
  border-color: red;
  border-radius: 30px;
}

table {
  margin: auto;
}

td, th {
  border: solid;
  border-width: 1px;
  border-color: white;
}


.tableDiv {
  align-items: center;
  align-content: center;
  padding-bottom: 30px;
}
